<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>

body{
    background-color: antiquewhite;
}
        header {
               background-color: antiquewhite;
           }
   
           .head {
               text-align: center;
           }
   
           img {
               height: 100px;
   
           }
        *{
       margin: 0;
       padding: 0;
   }.n1 ul li{
       background-color: rgb(231, 146, 36);
       border: 2px solid  rgb(231, 146, 36);
       width: 220px;
       height: 40px;
       text-align: center;
       line-height: 40px;
       float: left;
       position: relative;
       list-style: none;
   }
   .n1 ul li a{
       text-decoration: none;
       color: rgb(221, 214, 214);
       font-weight: bold;
       font-size: 1.5rem;
       display: block;
       list-style: none;
   }
   .n1 ul li a:hover{
       background-color: rgb(128, 58, 0);
   }
   .footer{
    height: 200px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.footerb{
    height: 180px;
    width: 300px;
   
    float: left;
    margin-top: 10px;
    color: white;
    text-align: center;
}
.footerb a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 22px;
}
li{
    font-size: 20px;
}
   
   </style>
</head>

<body>
    <header>
        <div class="head">
            <h1 style="font-size: 40px; color: rgb(248, 141, 2);">SHIVRANJANI</h1>
            <p style="text-align: center; margin-top: 10px; font-size: 30px;">The Music Society of Ramanujan College</p>
            <p>NAAC Grade A++ with CGPA 3.71</p>
        </div><br>
        <img style="padding-left: 50px; float: left; " src="/static/G20.png" alt="your browser does'nt support">
        <h1 style="float: left; padding-left: 380px; color: rgb(248, 141, 2); padding-right: 350px;" >शिवRanjani</h1>
        <img style=" padding-right: 30px; float: left;" src="/static/G20.png" alt="your browser does'nt support">

        <div style="padding-left: 2px;" class="menu">
            <nav class="n1">
                <ul class="m1">
            <li><a href="{% url 'Home' %}">HOME</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'About' %}">ABOUT</a></li>
            <li><a href="{% url 'Members' %}">MEMBERS</a></li>
            <li><a href="{% url 'Mission' %}">MISSIONS</a></li>
            <li><a href="{% url 'Achievement' %}">ACHIEVEMENTS</a></li>
        </ul>
        </nav>
           
        </div>
    </header><br><br><br><br><br><br><br><br><br>

    <div style="padding: 40px;">
        <h1>EVENT REPORTS </h1><br><br>
        <p><b>The Various Events held by Shivranjani, The Music Society of Ramanujan College in the
            Session 2022-23 are mentioned as follows</b></p><br><br>
           <ul>
            <h2><b>Khamaj</b></h2>
           </ul><br>
           <p>Khamaj is the annual Flagship Event conducted by Shivranjani every year. The event
            is based on Indian Classical Music and includes inter college competitions and
            performances based upon the same. It was started in the year 2022 with 2 Competitions
            i.e Indian Classical Choir Competition and Solo Instrumental Competition. </p><br><br>
            <p><b>The Classical Choirs of following Colleges were a part of Khamaj 2022:
            </b></p><br><br>
            <li>Hindu College (Alankaar)</li>
                <li>Hansraj College (Swaranjali)</li>
                <li>PGDAV College (Raaga)</li>
                        <li>Sri Venkateswara College (Alaap)</li>
                            <li>Daulat Ram College (Alahyaa)</li>
                                <li>Kamla Nehru College (Sangeetika)</li>
                                    <li>Maitreyi College (Riyaaz)</li><br><br>

                <img style="width: 800pxs; border-radius: 50%; height: 600px; padding-left: 200px;"src="/static/ac1.png" alt="">
               <br><br> <p>Solo Instrumentalists from Ramjas College, Hindu College, Deshbandhu College were
                    also a part of this beautiful Event.
                    The Event also had a melodious
                    Jugalbandi of our two current
                    presidents as well, Ujith Udaya
                    Kumar on Tabla and Pranay
                    Mathur on Flute.
                    Both Competitions were judged by
                    the esteemed professionals of the
                    industry. Winners for the same
                    were Alankaar (Hindu College) and
                    Swaranjali (Hansraj College).
                    Winner of the Solo Instrumental
                    Category was Madhav Kalra
                    (Deshbandhu College).</p>
                    <ul><br><br>
                        <h2 ><b>Orientation 2022
                        </b></h2>
                       </ul><br>
                       <p>Again after three years of lockdown, Shivranjani, the
                        music Society of Ramanujan College hosted its much
                        awaited Orientation for the New Joinees of the Session
                        2022-23. New Joinees were introduced to the Society
                        and its Proceedings. It started off with an Introductory
                        speech by the Convenor of the Society “Dr Suman
                        Jaiswal” followed by the speeches of our Presidents.
                        Everyone was introduced to the Core Team and the three
                        active Music groups of our Society i.e Indian Classical
                        Choir, the Rock band “Aurum” and the western Choir.
                        This followed a few live performances and screening of
                        other award winning Performances as well. Games and
                        other activities were also a part of the event to keep
                        everyone engaged. </p>
                        </b>
                      
                            <img style="width: 800pxs; border-radius: 50%; height: 600px; padding-left: 200px;"src="/static/ac2.png" alt="">
                            <p>Solo Instrumentalists from Ramjas College, Hindu College, Deshbandhu College were
                                also a part of this beautiful Event.
                                The Event also had a melodious
                                Jugalbandi of our two current
                                presidents as well, Ujith Udaya
                                Kumar on Tabla and Pranay
                                Mathur on Flute.
                                Both Competitions were judged by
                                the esteemed professionals of the
                                industry. Winners for the same
                                were Alankaar (Hindu College) and
                                Swaranjali (Hansraj College).
                                Winner of the Solo Instrumental
                                Category was Madhav Kalra
                                (Deshbandhu College).</p><br><br>
                                
                                <h2>Shivranjani Showcase in Annual Cultural Fest
                                </h2><br><br>
                                <p>For the final day of the college fest, “Josh X Sequoia” (25th March 2023), consisted of
                                    performances from Shivranjani. The first performance was a duo performance,
                                    followed by a western group performance, and then finally our college band, Aurum
                                    took to the stage and owned it.
                                    The performances lasted for around 2 hours, and was filled with rocking riffs, dynamic
                                    drum rolls, mesmerizing guitar solos, melodic flute and saxophone fills, and
                                    harmonious vocals. The audience was jamming along, singing and dancing along as the
                                    band played. </p><br><br>
                                    <img style="width: 800px; border-radius: 30%;height: 600px; padding-left: 200px;" src="/static/ac3.png" alt="not responding">
                                    <ul>
                                        <h2><b>Khamaj 2023</b></h2>
                                       </ul><br>
                                       <p>We proudly presented the second edition of our esteemed annual flagship event,
                                        Khamaj, featuring two exhilarating competitions celebrating the art of Indian Classical
                                        Music. This grand culmination of musical festivities, known as the Final Musical Fest
                                        of Delhi University, took place on Sunday, 30th April 2023. We extended a warm
                                        invitation to esteemed colleges from across the esteemed DU Music Circuit to
                                        participate in this remarkable event. The opening ceremony was graced by the presence
                                        of our esteemed Convenor, Mrs. Suman Jaiswal, and the distinguished judge for the
                                        competitions, Mr. Lalit Sisodia, a renowned Classical Singer and harmonium player.
                                        The event commenced with a soul-stirring performance by the illustrious founder and
                                        alumni of Shivranjani, Mrs. Ishwanik Kaur. This was followed by captivating
                                        performances from our accomplished presidents, carrying forward the rich tradition of
                                        the flute and tabla jugalbandi. Throughout the event, the inspiring presence of
                                        Shivranjani's alumni added to its grandeur.
                                         </p><br><br>
                                        <p><b>The highlight of the event was the two prestigious competitions: "Rageshree: Indian
                                            Classical Choir Competition" and "Tilang: Solo Instrumental Competition." Among the
                                            distinguished music societies that participated were:
                                        </b></p><br><br>
                                        <li>Alankaar: Indian Music Society of Hindu College
                                        </li>
                                            <li>Hansraj College (Swaranjali)</li>
                                            <li>Raaga: Indian Music Society of PGDAV College</li>
                                                    <li>Alaap: Indian Music Society of Sri Venkateshwara College</li>
                                                        <li>Samanway: Music Society of IIT Delhi</li>
                                                            <li>Dhwani: Music Society of LSR</li>
                                                                <li>Backbeat: Music Society of Ramjas College</li><br>
                                            <img style="width: 800px;border-radius: 30%; height: 600px; padding-left: 200px;" src="/static/ac4.png" alt="">
                                            <p>The performances enthralled the audience for approximately five hours, encompassing
                                                dynamic tabla beats, mesmerizing violin solos, melodious flute and sitar renditions, and
                                                harmonious choir vocals. The event concluded with the announcement of the winners.
                                                In the Rageshree: Indian Classical Choir Competition, the victorious ensembles were
                                                Alankaar: Indian Music Society of Hindu College (1st Position) and Raaga: Indian
                                                Music Society of PGDAV College (2nd Position). In the Solo Instrumental Competition,
                                                Tilang, the deserving winners were Madhav Kalra from Deshbandhu College (1st
                                                Position) and Shubhakant Sahoo from Sri Venkateshwara College (2nd Position). The
                                                sheer talent and dedication showcased by the participants left an indelible mark on this
                                                glorious celebration of Indian Classical Music.</p>
                                                <ul><br><br>
                                                    <h1>Annual Achievements</h1><br><br>
                                                    <li> 1st Position at Battle of Bands, Pearl Academy</li>
                                                    <li> 2nd Position at Battle of Bands, AIIMS</li>
                                                    <li> 1st position light solo instrumental, MAMC (Pranay Mathur)</li>
                                                        <li> 3rd Position light classical Instrumental, MAMC (Pranay Mathur)</li>
                                                        <li> 2nd Position, Battle of Bands, NSUT</li>
                                                        <li>2nd Position, Semi Classical Choir, LHMC</li>
                                                            <li> 1st Position, Battle of Bands, Tecnia IPU</li>
                                                                <li>1st position, Western Battle of Bands, IIT BHU</li>
                                                                    <li>2nd Position, Fusion Battle of Bands, IIT BHU</li>
                                                                        <li> 2nd position, solo instrumental, IIT BHU (Pranay Mathur)</li>
                                                                            <li> 3rd Position, Raagasamar unplugged band, IIT BHU</li>
                                                        <li>2nd Position, Semi Classical Choir, BRAC DU</li>
                                                            <li> 2nd Position, Battle of Bands, Shyam Lal College</li>
                                                                <li> 1st Position, Battle of Bands, Maharaja Agrasen College DU</li>
                                                                    <li> 1st Position, Battle of Bands, MDI College
                                                     </li>
                                                    
    </div>
    <div class="footer">
            
        <div class="footerb">
            <b> Contact : </b> <br><br>
            Ramanujan college, Kalkaji<br> 
            Email : Shivranjani@gmail.com<br>
            Mobile : 93165734540<br>
            Time : 9.00 AM to 5.00 Pm <br>
           
        </div>
        <div class="footerb" >
            <b> Directions</b>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.025089248348!2d77.25249467387387!3d28.53896558832641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3d9a24e2a8f%3A0x469bcb8c1b03b6f6!2sRamanujan%20College!5e0!3m2!1sen!2sin!4v1701796327241!5m2!1sen!2sin" width="100%" height="150px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <p>Social media:
                <a href="https://tr.ee/-3BrlPppG_"><span class="glyphicon glyphicon-envelope"></span></a>
              </p>
              <p>Listen this:
                <a href="https://open.spotify.com/track/2542xAtyumIMQu677ejjoG?si=S6u2svN9TvC4Pjk-xHCjvQ">
                  <span class="glyphicon glyphicon-music"></span>
                </a>
              </p>
              <p>Track us:
                <a href="https://maps.app.goo.gl/oBcXVAXmKehoy2D49">
                  <span class="glyphicon glyphicon-map-marker"></span>
                </a>
              </p>
        </div>
    </div>
</body>
</html>