<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MISSION</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<STYle>
    body{
    background-color: antiquewhite;
}
header {
            background-color: antiquewhite;
            padding: 0px;
        }

        .head {
            text-align: center;
        }

        img {
            height: 100px;

        }

        header {
            background-color: antiquewhite;
        }

        .head {
            text-align: center;
        }

        img {
            height: 100px;

        }
    
    *{
    margin: 0;
    padding: 0;
}.n1 ul li{
    background-color: rgb(231, 146, 36);
    border: 2px solid  rgb(231, 146, 36);
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
    list-style: none;
}
.n1 ul li a{
    text-decoration: none;
    color: rgb(221, 214, 214);
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    list-style: none;
}
.n1 ul li a:hover{
    background-color: rgb(128, 58, 0);
}
.footer{
    height: 200px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.footerb{
    height: 180px;
    width: 300px;
   
    float: left;
    margin-top: 10px;
    color: white;
    text-align: center;
}
.footerb a{
    text-decoration: none;
    color: white;
}
h1{text-align: center;
    
}
p{
    font-size: 22px;
}
li{
    font-size: 20px;
}

</STYle>
<body>
    <header>
        <div class="head">
            <h1 style="font-size: 40px; color: rgb(248, 141, 2);">SHIVRANJANI</h1>
            <p style="text-align: center; margin-top: 10px; font-size: 30px;">The Music Society of Ramanujan College</p>
            <p>NAAC Grade A++ with CGPA 3.71</p>
        </div>
        <br>
        <img style="padding-left: 50px; float: left; " src="/static/G20.png" alt="your browser does'nt support">
        <h1 style="float: left; padding-left: 380px; color: rgb(248, 141, 2); padding-right: 350px;" >शिवRanjani</h1>
        <img style=" padding-right: 30px; float: left;" src="/static/G20.png" alt="your browser does'nt support">

        <div style="padding-left: 2px;" class="menu">
            <nav class="n1">
                <ul class="m1">
            <li><a href="{% url 'Home' %}">HOME</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'About' %}">ABOUT</a></li>
            <li><a href="{% url 'Members' %}">MEMBERS</a></li>
            <li><a href="{% url 'Mission' %}">MISSIONS</a></li>
            <li><a href="{% url 'Achievement' %}">ACHIEVEMENTS</a></li>
        </ul>
        </nav>
           
        </div>
    </header><br><br><br><br><br><br><br><br><br>
    <div style="padding: 40px;" >
    <h1>ANNUAL PLAN</h1>
    <h1>2023-24</h1><br><br><br>
    <p>  <b>Core Team</b>
        <li>President: Tejasvi Rawat</li>
        <li>Vice President: Ayush Sharma</li>
        <li>Joint Secretary: Gopal Sharma</li>
        <li>General Secretary: Snehi Sharma</li>
        <li>Chief Coordinator: Shreyansh Jamloki</li>

        </p>
        <h1>Vision of the Society</h1><br><br>
        <p>To collectively make music, perform and excel individually, increasing industry connect for those who wish to pursue
            music either as a hobby or further as a career.</p><br><br><br>

        <h1>Structure of the Society</h1><br><br><br><br>

        <img style="width: 800pxs; height: 600px; padding-left: 400px;" src="/static/heirarchy.png" alt="not supported"><br>

          <br><br><br>  <h1>Roles and Responsibilities</h1><br><br>
            <h2>Core Team</h2><br><br>
           <div> <div><h3>President</h3>
            <p>
                <li>Formulation of society meetings and ensuring the
                    meetings are constructive.</li>
                    <li>Having a general control on all the affairs of the
                    society.</li>
                    <li>Leading the whole society towards progressive
                    outcome.</li>
                    <li>Foremost and hard decisions must be implemented by
                    the President.</li>
                    <li>Become the representative of the society.</li>
               
            </p></div><br><br>
            <div  ><h3>Vice President</h3>
                <p>
                    <li>Becoming the alternative representative on behalf of
                        the President.</li>
                        <li>Coordinating with the president in societal meetings
                            along with the convener.</li>
                        <li>Examining the content of social media and emails by
                            the media team.</li>
                        <li>Managing and securing society credentials.</li>
                        <li>Evaluating societal budget monthly.
                        </li>
                   
                </p></div><br><br>
                <div  ><h3>Joint Secretary-</h3>
                    <p>
                        <li>In overall charge of the functioning of the department
                            allocated to him to lead.</li>
                            <li>Maintenance of GCR inventory and records of the
                                budget along with the Vice-President.</li>
                            <li>Formulating decisions with the core members before
                                implementation.</li>
                            
                       
                    </p></div><br><br>
                    <div  ><h3>General Secretary-</h3>
                        <p>
                            <li>Looking after the general consequences of society.</li>
                                <li>Disseminating all sorts of information and decisions
                                    to all the members.</li>
                                <li>Assigning work to the PR team along with the Chief
                                    Coordinator.</li>
                                <li>Assigning tasks to other members according to the
                                    domain they are skilled at.</li>
                                <li>Ascertaining members punctuality and attendance
                                    along with Chief coordinator and Joint Secretary.
                                    
                                </li>
                           
                        </p></div><br><br>
                        <div  ><h3>Chief Coordinator</h3>
                            <p>
                                <li>Working mostly on Ground reality and updating the
                                    higher authorities accordingly</li>
                                    <li>Addressing all members’ doubts and providing them
                                        solutions.</li>
                                    <li>GCR regularities, like Maintenance of the room.
                                        Listing GCR inventory and budget along with the
                                        Joint Secretary.</li>
                                    <li>Regulating and Supervising Departmental Functions.</li>
                                    <li>Ascertaining members punctuality and indiscipline.
                                        
                                    </li>
                               
                            </p></div><br><br>
                            <h1>DEPARTMENTS</h1><br>
                
              <div  ><h3>Media Head</h3>
                <p>
                    <li>Ascertaining strategic content in favour of best outcomes.</li>
                        <li>Examining the works of members assigned media tasks.</li>
                        <li>Following latest trends without forgetting the purpose
                            which is to showcase our society talents.</li>
                        <li>Regulating and Supervising Departmental Functions.</li>
                        <li>Build an active team to ensure public engagement.</li>
                            <li>Manage message requests and collaboration request
                            
                        </li>
                   
                </p></div> <br><br>         
                <div  ><h3>PR Head</h3>
                    <p>
                        <li>Responding to the calls, texts and emails of the society.</li>
                            <li>Examining the works of members assigned media tasks.</li>
                            <li>Working under the instructions of the Chief coordinator.</li>
                            <li>Aim to maintain a positive image of the society by
                                communicating for collaborations and promotions in a
                                positive manner.</li>
                            <li>Introducing ideas to the core members which are in best
                                interest in promoting the society.</li>
                                <li>To keep track of all competitions and Events happening.

                            </li>
                       
                    </p></div> <br><br>   
<h1>MEMBERS</h1><br>
                    <div  ><h3>Senior Members</h3>
                        <p>
                            <li>Responsible for leading projects</li>
                                <li>Inclined towards teaching junior members.</li>
                                <li>Helping in making compositions.</li>
                                <li>Expressing dissatisfaction among fellow members to
                                    core members for rectification.</li>
                               
                           
                        </p></div>  <br><br><br><br>        
                        <div ><h3>Junior Members</h3>
                            <p>
                                <li>Being the main voice of projects.</li>
                                    <li>Practising and developing musical skills.</li>
                                    <li>Working under the instructions of the Chief coordinator.</li>
                                    <li>Executing the annual plan laid down.</li>
                                  
                               
                            </p></div>   </div>      
                        </div>
                        <div class="footer">
            
                            <div class="footerb">
                                <b> Contact : </b> <br><br>
                                Ramanujan college, Kalkaji<br> 
                                Email : Shivranjani@gmail.com<br>
                                Mobile : 93165734540<br>
                                Time : 9.00 AM to 5.00 Pm <br>
                               
                            </div>
                            <div class="footerb" >
                                <b> Directions</b>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.025089248348!2d77.25249467387387!3d28.53896558832641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3d9a24e2a8f%3A0x469bcb8c1b03b6f6!2sRamanujan%20College!5e0!3m2!1sen!2sin!4v1701796327241!5m2!1sen!2sin" width="100%" height="150px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div>
                                <p>Social media:
                                    <a href="https://tr.ee/-3BrlPppG_"><span class="glyphicon glyphicon-envelope"></span></a>
                                  </p>
                                  <p>Listen this:
                                    <a href="https://open.spotify.com/track/2542xAtyumIMQu677ejjoG?si=S6u2svN9TvC4Pjk-xHCjvQ">
                                      <span class="glyphicon glyphicon-music"></span>
                                    </a>
                                  </p>
                                  <p>Track us:
                                    <a href="https://maps.app.goo.gl/oBcXVAXmKehoy2D49">
                                      <span class="glyphicon glyphicon-map-marker"></span>
                                    </a>
                                  </p>
                            </div>
                        </div>

</body>
</html>